{
  "userstore": {
    "backend": "borchk",
    "config": {
      "wsdl": "https://borchk.addi.dk/2.4/borchk.wsdl",
      "serviceRequester": "bibliotek.dk"
    }
  },
  "tokenstore": {
    "backend": "redis"
  },
  "configstore": {
    "backend": "static",
    "config": {
      "this": {
        "will": {
          "be": {
            "the": "config"
          }
        }
      }
    }
  }
}
